### **Tratamiento y limpieza de datos de Vacantes**

Importar la base de datos de vacantes que previamente se normalizó (no completamente) en STATA

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import seaborn as sns
sns.set_style("whitegrid")

import warnings
warnings.filterwarnings("ignore")
import re

In [ ]:
df_path = "D:/Users/jfrub/OneDrive - Universidad de los Andes/Bases de datos/Vacantes/"
df_path2 = 'vacantes final 2.csv'
df = pd.read_csv(df_path2, encoding='latin-1', error_bad_lines=False)

In [ ]:
''' #Importar librería
from IPython.display import Image
# Cargar imagen
Image(filename="D:/Users/jfrub/OneDrive - Universidad de los Andes/Seminario de tesis PEG/Vacantes totales.jpg", width = 900, height = 600) '''

' #Importar librería\nfrom IPython.display import Image\n# Cargar imagen\nImage(filename="D:/Users/jfrub/OneDrive - Universidad de los Andes/Seminario de tesis PEG/Vacantes totales.jpg", width = 900, height = 600) '

In [ ]:
df = df.iloc[0:5000]

In [ ]:
# Importar librerías para la limpieza de los datos
import pickle
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
import numpy as np

In [ ]:
df.loc[1]['descripcion']

'Se requiere tecnÃ³logo en sistemas yo afines, o estudiante de IngenieriÂ\xada de sistemas yo afines de 6 semestre en adelante, que posea experiencia de 6 meses a un 1 aÃ±o en desarrollo y conocimiento en AS400RPG'

In [ ]:
# Limpieza de caracteres especiales
df['Content_Parsed_1'] = df['descripcion'].str.replace("\r", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("\n", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("Ã³", "o")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("Ã¡", "a")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("Ã©", "e")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("Ãº", "u")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("Ã±", "ñ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("Ã-", "I")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("Ã", "i")

df['Content_Parsed_21'] = df['titulo'].str.replace("\r", " ")
df['Content_Parsed_21'] = df['Content_Parsed_21'].str.replace("\n", " ")
df['Content_Parsed_21'] = df['Content_Parsed_21'].str.replace("Ã³", "o")
df['Content_Parsed_21'] = df['Content_Parsed_21'].str.replace("Ã¡", "a")
df['Content_Parsed_21'] = df['Content_Parsed_21'].str.replace("Ã©", "e")
df['Content_Parsed_21'] = df['Content_Parsed_21'].str.replace("Ãº", "u")
df['Content_Parsed_21'] = df['Content_Parsed_21'].str.replace("Ã±", "ñ")
df['Content_Parsed_21'] = df['Content_Parsed_21'].str.replace("Ã-", "I")
df['Content_Parsed_21'] = df['Content_Parsed_21'].str.replace("Ã", "i")

In [ ]:
df.loc[1]['Content_Parsed_1']

'Se requiere tecnologo en sistemas yo afines, o estudiante de IngenieriÂ\xada de sistemas yo afines de 6 semestre en adelante, que posea experiencia de 6 meses a un 1 año en desarrollo y conocimiento en AS400RPG'

In [ ]:
# Todo el texto en minúscula
df['Content_Parsed_2'] = df['Content_Parsed_1'].str.lower()
df['titulo2'] = df['Content_Parsed_21'].str.lower()

In [ ]:
df.loc[1]['Content_Parsed_2']

'se requiere tecnologo en sistemas yo afines, o estudiante de ingenieriâ\xada de sistemas yo afines de 6 semestre en adelante, que posea experiencia de 6 meses a un 1 año en desarrollo y conocimiento en as400rpg'

In [ ]:
# Descargar librería
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
# Cargar Stop Words sobre las cuales el algoritmo no se va a detener o no va a tener en cuenta 
stop_words = list(stopwords.words('spanish'))

In [ ]:
# Definir una forma o expresión regular:
df['Content_Parsed_3'] = df['Content_Parsed_2']
df['titulo3'] = df['titulo2']

for stop_word in stop_words:

    expres_stopword = r"\b" + stop_word + r"\b"
    
    df['Content_Parsed_3'] = df['Content_Parsed_3'].str.replace(expres_stopword, '')
    df['titulo3'] = df['titulo3'].str.replace(expres_stopword, '')

In [ ]:
df.loc[1]['Content_Parsed_3']

' requiere tecnologo  sistemas  afines,  estudiante  ingenieriâ\xad  sistemas  afines  6 semestre  adelante,  posea experiencia  6 meses   1 año  desarrollo  conocimiento  as400rpg'

In [ ]:
stop_words2 = ['â']
df['Content_Parsed_4'] = df['Content_Parsed_3']
df['titulo4'] = df['titulo3']

for x in stop_words2:
    df['Content_Parsed_4'] = df['Content_Parsed_4'].str.replace(x,'a')
    df['titulo4'] = df['titulo4'].str.replace(x,'a')

In [ ]:
stop_words3 = ['i\x93']
df['Content_Parsed_5'] = df['Content_Parsed_4']
df['titulo5'] = df['titulo4']

for x in stop_words3:
    df['Content_Parsed_5'] = df['Content_Parsed_5'].str.replace(x,'o')
    df['titulo5'] = df['titulo5'].str.replace(x,'o')

In [ ]:
stop_words4 = ['año', 'semestre', 'meses','importante', 
               'urgente', 'mañana', 'lunes', 'martes', 
               'miercoles', 'jueves', 'viernes', 'sabado', 
               'domingo', '\xad','0','1','2','3','4','5','6',
               '7','8','9','?','¿',':','¡','!','.',',',';','-',
               '$','%','#','*','+', 'whatsapp', 'facebook', 'linkedin',
               'hoja vida','a\x8d','enero','febrero','marzo',
               'abril','mayo','junio','julio','agosto','septiembre',
               'octubre','noviembre','diciembre']

df['Content_Parsed_6'] = df['Content_Parsed_5']
df['titulo6'] = df['titulo5']

for x in stop_words4:
    df['Content_Parsed_6'] = df['Content_Parsed_6'].str.replace(x,'')
    df['titulo6'] = df['titulo6'].str.replace(x,'')

In [ ]:
df.loc[1]['Content_Parsed_6']

' requiere tecnologo  sistemas  afines  estudiante  ingenieria  sistemas  afines     adelante  posea experiencia         desarrollo  conocimiento  asrpg'

In [ ]:
stop_words5 = ['  ', '   ','    ']
df['Content_Parsed_7'] = df['Content_Parsed_6']
df['titulo7'] = df['titulo6']

for x in stop_words5:
    df['Content_Parsed_7'] = df['Content_Parsed_7'].str.replace(x,' ')
    df['titulo7'] = df['titulo7'].str.replace(x,' ')

In [ ]:
df.loc[3000]['Content_Parsed_7']

' grupo empresarial  proposito enriquecer vida integridad  interesa brindar experiencias confiables amigables sencillas si sientes afinidad  proposito  interes genuino  gente trabajo  davivienda  busqueda  profesional i diseño  direccion movilidad canales digitales  mision principal diseñar prototipos  diferentes soluciones cumplan  principios rectores usabilidad experiencia cliente requeridos  canales digitales funciones principales  definicion nuevas propuestas uxui  canales digitales acuerdo nuevas tendencias diseño necesidades consumidor diseñar prototipos enfocados  funcionalidad producto ux asia interfaces plataformas diversas ui llevando adelante proceso diseño autogestionando tareas trabajando manera colaborativa diseñar procesos mobile first principios leyes basicas usabilidad arquitectura informacion patrones comportamiento guiaas estilo candidatos ideales  cargo deben cumplir  siguientes requisitos estudios profesional diseño diseño grafico multimedia carreras afines estudios certificaciones metodologia investigacion usuario ux experiencia mianima  s  creacion productos digitales proyectos investigacion usuarios flujos interaccion wireframes prototipos experiencia laboral  cargos similares conocimientos especiaficos manejo herramientas diseño sketch illustrator xd invision apps prototipado oferta salario rango salarial  tipo contrato indefinido horario '

In [ ]:
df.head()

           id  ...                       titulo7
0  1884375002  ...         analista sst licencia
1  1884375149  ...  desarrollador r as medellian
2  1884374755  ...    asesor comercial bachiller
3  1884376204  ...           supervisor cobranza
4  1884376605  ...              atencion cliente

[5 rows x 46 columns]

In [ ]:
print(df.columns.values)

['id' 'disponibilidad' 'fecha' 'Remuneracion_m' 'sector' 'vacantes'
 'profesion' 'descripcion' 'grupo' 'nivel' 'experiencia' 'vinculacion'
 'dia' 'mes' 'mesnum' 'year' 'date' 'date_2' 'titulo' 'ocupacion'
 'salario' 'Vacantes_m' 'educacion2' 'vactot' 'vacantes_final1'
 'vacantes_final2' 'semana' 'semana1' 'semana2' 'vacantes_final_t1'
 'vacantes_final_t2' 'id2' 'Content_Parsed_1' 'Content_Parsed_21'
 'Content_Parsed_2' 'titulo2' 'Content_Parsed_3' 'titulo3'
 'Content_Parsed_4' 'titulo4' 'Content_Parsed_5' 'titulo5'
 'Content_Parsed_6' 'titulo6' 'Content_Parsed_7' 'titulo7']

In [ ]:
df_descripcion = df[["id", "Content_Parsed_7"]]
df_clasificacion = df1[["codigo","descripcion5"]]

In [ ]:
df_descripcion.head()

           id                                   Content_Parsed_7
0  1884375002  empresa telecomunicaciones requiere  equipo tr...
1  1884375149   requiere tecnologo sistemas afines estudiante...
2  1884374755   entidad financiera encuentra  busqueda person...
3  1884376204   outsourcing cobranza requiere tecnico estudia...
4  1884376605  empresa sector  busca personas  nivel ingles a...

In [ ]:
df_clasificacion.head()

       codigo                                       descripcion5
0  11-1011.00  determinan formulan poli­ticas  ocupan  direcc...
1  11-1011.01  determinan formulan ordenanzas publicas ademas...
2  11-1011.02  determinan formulan reglamentos estrategias  e...
3  11-1021.00  planifican dirigen coordinan operaciones compa...
4  11-1031.00  redactan leyes estatutos  niveles federal esta...

In [ ]:
df_clasificacion['descripcion5'] = df_clasificacion['descripcion5'].astype(str)
df_descripcion['Content_Parsed_7'] = df_descripcion['Content_Parsed_7'].astype(str)

In [ ]:
df_clasificacion.head()

       codigo                                       descripcion5
0  11-1011.00  determinan formulan poli­ticas  ocupan  direcc...
1  11-1011.01  determinan formulan ordenanzas publicas ademas...
2  11-1011.02  determinan formulan reglamentos estrategias  e...
3  11-1021.00  planifican dirigen coordinan operaciones compa...
4  11-1031.00  redactan leyes estatutos  niveles federal esta...